<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">ink</h3>
</div>

<div class="jumbotron">
  <h1>Ink Developer Test</h1>
</div>

<div class="wrapper">
  <div class="left-pane">
    <ul class="selector">
      <li ng-class="{selected: city == selectedCity}" ng-repeat="city in cities" ng-click="changeCity(city)">
        <a href="">{{ city }}</a>
      </li>
    </ul>
  </div>
  <div class="right-pane">
    <span ng-show="loading">Loading...</span>
    <dl ng-hide="error || loading" class="info">
      <dt>Name</dt>
      <dd>{{ currentCity.name }}</dd>

      <dt>Location (lat, lng)</dt>
      <dd>{{ currentCity.location }}</dd>

      <dt>Current Weather Conditions</dt>
      <dd>{{ currentCity.weatherConditions }}</dd>

      <dt>Icon</dt>
      <dd><img src="{{ currentCity.icon }}" /></dd>

      <dt>Temperature and Range (&deg;C)</dt>
      <dd>{{ currentCity.temperature }}
          ({{currentCity.temperatureMin}} &mdash;
           {{currentCity.temperatureMax}})</dd>

      <dt>Current Atmospheric Pressure (hPa)</dt>
      <dd>{{ currentCity.atmosphericPressure }}</dd>

      <dt>Current Humidity (%)</dt>
      <dd>{{ currentCity.humidity }}</dd>

      <dt>Current Clouds (%)</dt>
      <dd>{{ currentCity.clouds }}</dd>

      <dt>Wind</dt>
      <dd>{{ currentCity.windSpeed }}mps {{ currentCity.windAngle ? ' at ' + currentCity.windAngle +  '&deg;' : ''  }}</dd>
    </dl>
    <span ng-show="error" class="error-message">Error fetching from the server.</span>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
